.socials {
  display: flex;
}

.socials a {
  color: var(--white);
  font-size: 20px;
  margin-right: 20px;
}

.socials a:nth-child(5) {
  font-size: 23px;
  margin-top: -1px;
}
.socials a:last-child {
  font-size: 23px;
  margin-top: -1px;
}
